.form-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  width: 355px;
  padding: 20px 0;
}

.form-item {
  /* border: red solid 1px; */
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5px;
  width: 100%;
}

/* input, select {
  padding: 8px;
  width: 180px;
} */


label {
  font-weight: 500;
  font-size: 1rem;
}

/* removes the preset webstyles */
input,
legend,
select,
textarea {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background-color: transparent;
  border: none;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* adds the custom form webstyles */
input,
select,
textarea {
  border: 1.5px solid #2cacd1;
  background-color: white;
  font-family: 'Karla', sans-serif;
  font-weight: 500; 
  font-size: .9rem;
  color: #515168;
  border-radius: 0.25rem;
  padding: 8px;
  width: 180px;
}


/* ---------- START Checkmark box styles ---------- */

/* Customize the the container) */
.checkbox-div {
  padding-top: 5px;
  display: flex;
}

.checkbox-container {
  display: block;
  position: relative;
  padding-right: 35px;
  padding-top: 4px;
  cursor: pointer;
  font-size: 1rem;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Hide the browser's default checkbox */
.checkbox-container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

/* Create a custom checkbox */
.checkmark {
  position: absolute;
  top: 0;
  right: 0;
  height: 25px;
  width: 25px;
  background-color: #eee;
  border: 1.5px solid #2cacd1;
  border-radius: 0.25rem;
}

/* On mouse-over, add a grey background color */
.checkbox-container:hover input ~ .checkmark {
  background-color: #ccc;
}

/* When the checkbox is checked, add a blue background */
.checkbox-container input:checked ~ .checkmark {
  background-color: #2cacd1;
  border: 1px solid #2cacd1;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
.checkbox-container input:checked ~ .checkmark:after {
  display: block;
}

/* Style the checkmark/indicator */
.checkbox-container .checkmark:after {
  left: 9px;
  top: 5px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

/* ---------- END checkmark box styles ---------- */

@media only screen and (min-width: 600px) {

  .form-container {
    gap: 15px; 
  }

  .form-item {  
    flex-direction: row;
    justify-content: space-between;
    gap: 0;
  }

  .checkbox-div {
    padding-top: 20px;
  }
 
}