.intro {
  display: flex;
  flex-direction: column;
  justify-content:space-around;
  align-items: center;
  text-align: center;
  margin: auto;
  padding-top: 60px;
}

h1 {
  font-family: 'Jura', sans-serif;
  font-weight: 700;
  font-size: 2.5rem;
  color: #2cacd1;
  margin: 0;
}

.subhead {
  font-family: 'Karla', sans-serif;
  font-weight: 500;
  font-size: 1rem;
  max-width: 80%;
}

.start-button {
  padding: 13px 40px;
  background-color: #2cacd1;
  border: none;
  border-radius: 15px;
  margin-top: 15px;
  color: white;
  font-weight: 400;
  font-size: 1rem;
  letter-spacing: .1em;
  font-weight: 700;
  cursor: pointer;
}


 @media only screen and (min-width: 600px) {

  h1 { 
    font-size: 3.5rem;
  }

  .subhead {
    font-size: 1.25rem;
  }  
}

 