.quiz-container {
  padding: 15px 5px 30px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;  
}

.quiz-heading {
  margin: 30px auto 10px;
  font-family: 'Jura', sans-serif;
  font-weight: 700;
  font-size: 2rem;
  color: #2cacd1;
}

.quiz-subhead {
  margin: 0 auto 10px;  
}

.question {
  font-size: 1.125rem; 
  font-weight: 500; 
 
}

hr {
  margin-bottom: 25px;
  border: 0.8px solid #DBDEF0;
}

.button-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 5px;
  width: 100%;
  padding: 0 0 35px;
}

/* duplicate font-weight property*/
.quiz-button {
  padding: 13px 25px;
  background-color: #2cacd1;
  font-weight: 500;
  border: none;
  border-radius: 15px;
  color: white;
  font-size: 1rem;
  letter-spacing: .1em;
  font-weight: 700;
}

@media only screen and (min-width: 600px) {
  .quiz-container {
    padding: 5px 80px 30px;
  }

  .quiz-heading {
    font-size: 2.25rem;
  }

  .button-container {
    flex-direction: row;
    gap: 15px;
    padding: 20px 0 35px;
  }

}




