#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  background-image: url('assets/background.jpg');
  background-size: cover;
  background-repeat: repeat;
  /* background-color: #0B2434; */
  padding: 20px 0;
  font-family: 'Karla', sans-serif;
  font-weight: 400; 
  font-size: 16px;
  color: #515168;
  font-weight: 700;
}

main {
  /* background-color: #F5F7FB; */
  background-color: rgba(253, 253, 250, 0.96);
  height: 400px;
  width:95%;
  max-width: 850px;
  height: 570px;
  margin: auto;
  overflow: auto;
}

.intro {
  display: flex;
  flex-direction: column;
  justify-content:space-around;
  align-items: center;
  text-align: center;
  margin: auto;
  padding-top: 80px;
}

.form-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
  /* width: 90%; */
  width: 355px;
  padding: 20px 0;
}

.form-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

input, select {
  padding: 8px;
  width: 180px;
}


label {
  font-weight: 700;
}


/* ---------- START Checkmark box styles ---------- */

/* Customize the the container) */
.checkbox-div {
  padding-top: 20px;
  display: flex;
}

.checkbox-container {
  display: block;
  position: relative;
  padding-right: 35px;
  padding-top: 4px;
  cursor: pointer;
  font-size: 1rem;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Hide the browser's default checkbox */
.checkbox-container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

/* Create a custom checkbox */
.checkmark {
  position: absolute;
  top: 0;
  right: 0;
  height: 25px;
  width: 25px;
  background-color: #eee;
  border: 1px solid #515168;
}

/* On mouse-over, add a grey background color */
.checkbox-container:hover input ~ .checkmark {
  background-color: #ccc;
}

/* When the checkbox is checked, add a blue background */
.checkbox-container input:checked ~ .checkmark {
  background-color: #2cacd1;
  border: 1px solid #2cacd1;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
.checkbox-container input:checked ~ .checkmark:after {
  display: block;
}

/* Style the checkmark/indicator */
.checkbox-container .checkmark:after {
  left: 9px;
  top: 5px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

/* ---------- END checkmark box styles ---------- */

.start-button {
  padding: 13px 40px;
  background-color: #2cacd1;
  border: none;
  border-radius: 15px;
  margin-top: 15px;
  color: white;
  font-weight: 700;
  font-size: 1rem;
  letter-spacing: .1em;
  font-weight: 500;
  cursor: pointer;
}

h1 {
  font-family: 'Jura', sans-serif;
  font-weight: 700;
  font-size: 2.25rem;
  color: #2cacd1;
  margin: 0;
}

.subhead {
  font-family: 'Karla', sans-serif;
  font-weight: 500;
  font-size: 1.25rem;
}

.card-container {
  text-align: left;
  width: 100%;
}

.card-subcontainer {
  display: flex;
  align-items: flex-start;
}

.card-number {
  padding: 16px 10px 0 0;
  font-size: 1.25rem;
  font-weight: 400;
}

.quiz-container {
  padding: 5px 50px 30px;
  display: flex;
  flex-direction: column;
  align-items: flex-start; 
}

.quiz-heading {
  margin: 30px auto 10px;
  font-family: 'Jura', sans-serif;
  font-weight: 700;
  font-size: 2.25rem;
  color: #2cacd1;
}

.quiz-subhead {
  margin: 0 auto 10px;
  
}

.quiz-timer {
  margin: 0 auto 20px;
  color: #ea1d24;
  /* font-family: 'Jura', sans-serif; */
  font-weight: 500;
  font-size: 1.5rem; 
}

.question {
  font-size: 1.125rem; 
  font-weight: 500; 
}

hr {
  margin-bottom: 25px;
  border: 0.8px solid #DBDEF0;
}

ul {
  list-style: none;
}

.answer-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 15px;
  padding: 10px 0 30px;
  width: 100%;
}

.answer-button {
  font-weight: 400;
  font-size: .75rem;
  line-height: 1rem;
  border: .8px #515168 solid;
  color: #515168;
  background: white;
  border-radius: 8px;
  padding: 5px 15px;
  width: 175px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center; 
  cursor: pointer;
  text-align: center;
}

.clicked {
  background: #bdc2da;
  border: 1.5px #515168 solid;
}
.correct {
  background: #94D7A2;
  border: .8px #94D7A2 solid;
  font-weight: 500;
}

.incorrect {
  background: #F8BCBC;
  border: .8px #F8BCBC solid;
  color: #a6a7aa;
}

.unselected {
  color: #a6a7aa;
  border: .8px #a6a7aa solid;
}

.button-container {
  display: flex;
  justify-content: center;
  gap: 15px;
  align-items: center;
  width: 100%;
  padding: 20px 0 10px;
}

.quiz-button {
  padding: 13px 25px;
  background-color: #2cacd1;
  font-weight: 500;
  border: none;
  border-radius: 15px;
  color: white;
  font-size: 1rem;
  letter-spacing: .1em;
}



 @media only screen and (min-width: 500px) {

  h1 { 
    font-size: 3.5rem;
  }

  .subhead {
    font-size: 1.25rem;
  }

  .quiz-container {
    padding: 5px 80px 30px;
  }

  .question {
    font-size: 1.125rem;    
  }

  .answer-button {
    width: 148px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;  
  }
}

 

