#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  background-color: #0B2434;
  padding: 20px 0;
  font-family: 'Karla', sans-serif;
  font-weight: 400; 
  font-size: 16px;
  color: #293264;
  font-weight: 700;
}

main {
  background-color: #F5F7FB;
  height: 400px;
  width: 95%;
  max-width: 800px;
  height: 550px;
  margin: auto;
  overflow: auto;
}

.intro {
  display: flex;
  flex-direction: column;
  justify-content:space-around;
  align-items: center;
  text-align: center;
  margin: auto;
  padding-top: 150px;
}

.form-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
  width: 70%;
  padding: 20px;
}

.form-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 373px;
}

input, select {
  padding: 8px;
  width: 200px;
}

.start-button {
  padding: 16px 40px;
  background-color: #4D5B9E;
  border: none;
  border-radius: 15px;
  margin-top: 20px;
  color: white;
  font-size: 1.125rem;
  letter-spacing: .15em;
  font-weight: 500;
  cursor: pointer;
}

h1 {
  font-size: 2rem;
  margin: 0;
}

.card-container {
  text-align: left;
  /* display: flex; */
  width: 100%;
}

.quiz-container {
  padding: 5px 60px 30px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;  
}

.quiz-heading {
  margin: 30px auto 10px;
}

.quiz-subhead {
  margin: 0 auto 10px;
}

.quiz-timer {
  margin: 0 auto 20px;
  color: orange;
}

.question {
  font-size: 1.125rem; 
  font-weight: 500; 
}

hr {
  margin-bottom: 25px;
  border: 0.8px solid #DBDEF0;
}

ul {
  list-style: none;
}

.answer-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 15px;
  padding: 10px 0 30px;
  width: 100%;
  /* border: red 1px solid; */
}

.answer-button {
  font-weight: 400;
  font-size: .75rem;
  line-height: 1rem;
  border: .8px #4D5B9E solid;
  color: #4D5B9E;
  background: white;
  border-radius: 8px;
  padding: 5px 15px;
  width: 175px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center; 
  cursor: pointer;
  text-align: center;
}

.clicked {
  background: #bdc2da;
  border: 1.5px #4D5B9E solid;
}
.correct {
  background: #94D7A2;
  border: .8px #94D7A2 solid;
  font-weight: 500;
}

.incorrect {
  background: #F8BCBC;
  border: .8px #F8BCBC solid;
  color: #a6a7aa;
}

.unselected {
  color: #a6a7aa;
  border: .8px #a6a7aa solid;
}

.button-container {
  display: flex;
  justify-content: center;
  gap: 15px;
  align-items: center;
  width: 100%;
  padding: 20px 0 10px;
}

.quiz-button {
  padding: 13px 25px;
  background-color: #4D5B9E;
  border: none;
  border-radius: 15px;
  color: white;
  font-size: .75rem;
  letter-spacing: .1em;
  font-weight: 500; 
}



/* @media (min-width: 500px) {
  .quiz-container {
    padding: 5px 80px 30px;
  }

  .question {
    font-size: 1.125rem;    
  }

  .answer-button {
    width: 148px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;  
  
  }

} */

